<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mobile E-Survey</title>
  <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/iconfonts/ionicons/dist/css/ionicons.css">
  <link rel="stylesheet" href="vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">
  <link rel="stylesheet" href="css/shared/style.css">
  <link rel="stylesheet" href="css/demo_1/style.css">
  <link rel="stylesheet" href="js/Parsley.js-2.9.2/src/parsley.css">
  <link rel="shortcut icon" href="images/favicon.ico" />
  
</head>